@use '../variables';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    overflow-wrap: break-word;

    &:hover{
        background-color: darken(variables.$purple, 20%)
    }

    &--primary{
        color: #fff;
        background-color: variables.$purple;
    }

    @media (max-width: 640px){
        display: block;
    }
}