@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'variables';
@use 'text_image';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    @media (max-width: 640px){
        overflow-x: hidden;
    }

    @media (max-width: 1024px){
        overflow-x: hidden;
    }
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 640px) and (max-width: 1024px){
        width: 90%;
    }
}

